* {
	margin:0;
	padding:0;
	border-width:0;
	
	font-size:1rem;
	
	box-sizing:border-box;
}

html {
	width:100%;
}
body {
	max-width:1380px;
	
	padding:1rem 2rem;
	margin:0 auto;
}

#單字注音 {
	width:4rem;
	height:5rem;
	
	line-height:1;
	
	margin:1rem auto;
	
	font-family: "標楷體", DFKai-SB, "思源黑體", "Source Han Sans", "新細明體", PMingLiU, "細明體", MingLiU, sans-serif;
	text-align:center;
}

#單字注音 >p {
	display:inline-block;
	
	width:1rem;

	vertical-align:middle;
}
#單字注音 >p.placeholder {
	height:100%;
}

article {
	direction:rtl;
	
	margin:1rem 0;
	text-align:center;
	
	font-family: "標楷體", DFKai-SB, "思源黑體", "Source Han Sans", "新細明體", PMingLiU, "細明體", MingLiU, sans-serif;
	
	cursor:default;
}

article >p {
	display:inline-block;
	
	width:2rem;
	padding:0.25rem 0.25rem;
	
	text-align:center;
	vertical-align:top;
}

article >p >span {
	display:inline-block;
	
	line-height:1;
	padding:0.25rem 0.25rem;
}

textarea {
	display:inline-block;
	
	height:7rem;
	padding:0.25rem 0.25rem;
	margin:0.25rem 0;
}
textarea#文章 {
	width:10rem;
	min-width:25%;
	max-width:100%;
}
textarea#文章注音 {
	width:30rem;
	min-width:70%;
	max-width:100%;
}



body {
	background-color:#c9f;
	color:#000;
}

#單字注音 {
	background-color:#0f0;
	color:#000;
}

article >p >span:hover {
	background-color:#0f0;
}

textarea {
	background-color:#fff;
	color:#999;
}
